# Ex1 - Filtering and Sorting Data

### Step 1. Import the necessary libraries

In [33]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [34]:
# importing dataset from github
chipo = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', sep='\t')
chipo.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39

### Step 4. How many products cost more than $10.00?

In [35]:
# First change the type of item_price column for aggragate data
chipo['item_price'] = chipo['item_price'].str.replace('$' , '').astype('float')
chipo.item_price.dtype

C:\Users\Basit Khan\AppData\Local\Temp\ipykernel_9440\142603475.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  chipo['item_price'] = chipo['item_price'].str.replace('$' , '').astype('float')

dtype('float64')

In [76]:
#Aggrigating data 
chipo['cost'] = chipo['item_price']/ chipo['quantity']

In [77]:
chipo[chipo.cost>=10].value_counts().count()

1027

### Step 5. What is the price of each item? 
#### print a data frame with only two columns item_name and item_price

In [78]:
c = chipo[['item_name', 'item_price']]
c

                                  item_name  item_price
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl       16.98
...                                     ...         ...
4617                          Steak Burrito       11.75
4618                          Steak Burrito       11.75
4619                     Chicken Salad Bowl       11.25
4620                     Chicken Salad Bowl        8.75
4621                     Chicken Salad Bowl        8.75

[4622 rows x 2 columns]

### Step 6. Sort by the name of the item

In [ ]:
#1st way of sorting values by Item_name
chipo.item_name.sort_values()

In [ ]:
#2nd way of sorting values by item_name
chipo.sort_values(by= 'item_name')

### Step 7. What was the quantity of the most expensive item ordered?

In [50]:
chipo.sort_values(by='item_price', ascending=False).head(1)
# Most expensive item is #Chips and Fresh Tomato Salsa

,order_id,quantity,item_name,choice_description,item_price,cost
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25,2.95

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [69]:
ch = chipo[chipo.item_name== 'Veggie Salad Bowl']
len(ch)
# Veggie Salad Bowl ordered for 18 times

18

### Step 9. How many times did someone order more than one Canned Soda?

In [75]:
ch1 = chipo[(chipo.item_name == "Canned Soda") & (chipo.quantity>1)]
len(ch1)
# Canned Soda ordered more than one for 20 times

20