# Occupation

### Introduction:

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user).

### Step 3. Assign it to a variable called users.

In [3]:
users = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user', sep='|')
users.head(1)

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711

### Step 4. Discover what is the mean age per occupation

In [4]:
round(users.groupby('occupation').age.mean())

occupation
administrator    39.0
artist           31.0
doctor           44.0
educator         42.0
engineer         36.0
entertainment    29.0
executive        39.0
healthcare       42.0
homemaker        33.0
lawyer           37.0
librarian        40.0
marketing        38.0
none             27.0
other            35.0
programmer       33.0
retired          63.0
salesman         36.0
scientist        36.0
student          22.0
technician       33.0
writer           36.0
Name: age, dtype: float64

### Step 5. Discover the Male ratio per occupation and sort it from the most to the least

In [13]:
def gender(x):
    if x== 'M':
        return 1
    if x == 'F':
        return 0

users['gender_m'] = users['gender'].apply(gender)
a = users.groupby('occupation').gender_m.sum() / users.occupation.value_counts() * 100
a.sort_values(ascending=False)

doctor           100.000000
engineer          97.014925
technician        96.296296
retired           92.857143
programmer        90.909091
executive         90.625000
scientist         90.322581
entertainment     88.888889
lawyer            83.333333
salesman          75.000000
educator          72.631579
student           69.387755
other             65.714286
marketing         61.538462
writer            57.777778
none              55.555556
administrator     54.430380
artist            53.571429
librarian         43.137255
healthcare        31.250000
homemaker         14.285714
dtype: float64

### Step 6. For each occupation, calculate the minimum and maximum ages

In [ ]:
users.groupby('occupation').age.agg(['min','max'])

### Step 7. For each combination of occupation and gender, calculate the mean age

In [ ]:
users.groupby(['occupation','gender']).age.mean()

### Step 8.  For each occupation present the percentage of women and men

In [17]:
gender_occupation = users.groupby(['occupation','gender']). agg({'gender': 'count'})
occupation_count = users.groupby('occupation').agg('count')
occupation_gender = gender_occupation.div(occupation_count, level='occupation')*100
occupation_gender.loc[:,'gender']

occupation     gender
administrator  F          45.569620
               M          54.430380
artist         F          46.428571
               M          53.571429
doctor         M         100.000000
educator       F          27.368421
               M          72.631579
engineer       F           2.985075
               M          97.014925
entertainment  F          11.111111
               M          88.888889
executive      F           9.375000
               M          90.625000
healthcare     F          68.750000
               M          31.250000
homemaker      F          85.714286
               M          14.285714
lawyer         F          16.666667
               M          83.333333
librarian      F          56.862745
               M          43.137255
marketing      F          38.461538
               M          61.538462
none           F          44.444444
               M          55.555556
other          F          34.285714
               M          65.714286
programmer     F           9.090909
               M          90.909091
retired        F           7.142857
               M          92.857143
salesman       F          25.000000
               M          75.000000
scientist      F           9.677419
               M          90.322581
student        F          30.612245
               M          69.387755
technician     F           3.703704
               M          96.296296
writer         F          42.222222
               M          57.777778
Name: gender, dtype: float64